* {
  font-family: "Gowun Dodum", sans-serif;
}

.main {
  display: flex;
  margin: 0 20%;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 50%;
}

.icon {
  width: 120px;
  height: 120px;
  display: block;
  font-size: 100px;
  padding: auto;
}

.basic-info {
  display: flex;
  justify-content: space-between;
}
.img {
  max-width: 50%;
  /* width: 300px;
    height: 300px; */
  /* overflow: hidden; */
}
.picture {
  /* position: absolute; */
  width: 100%;
  max-width: 300px;
  height: 100%;
  /* overflow: hidden; */
}
.profile {
  width: 50%;
  font-size: 20px;
}
.profile > ul > li {
  /* margin-bottom: 10px; */
  list-style-type: '💛 ';
}

.vertical {
  padding: 20% 20%;
}

.wannabe {
  display: flex;
  justify-content: left;
}
.wannabe div {
  padding-bottom: 30px;
  width: 50%;
}

hr {
  width: 100%;
  /* border-top: solid lightgray 1px; */
}

.horizontal {
  display: flex;
  justify-content: space-between;
  /* padding:0 20px; */
}

.person {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: 20px;
  transition: all 0.2s linear;
  border: none;

  align-items: center;
  padding: 0;
  position: relative;
}

.char_img {
  width: 300px;
  display: block;
  max-width: 100%;
  border-radius: 100%;
  align-items: center;
  margin: 0;
}

.name_img {
  width: 300px;
  max-width: 100%;
  border-radius: 100%;
  align-items: center;
  margin: 0;
}

.person:hover {
  transform: scale(1.3);
}

.name_img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  border: solid;
}

.person:hover .char_img {
  opacity: 50%;
}

.person:hover .name_img {
  display: block;
  opacity: 100%;
  width: 300px;
  max-width: 100%;
  border-radius: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.likes > ul > li {
  /* margin-bottom: 10px; */
  list-style-type: '👉 ';
}

.restaurant_box {
  display: inline-flex;
  position: relative;
  /* width: 100%; */
}
.box{
  padding: 10px;
  max-width: 100%;
}
.hover_img, .hover_text{
  /* position: relative; */
}