* {
    font-family: "Gowun Dodum", sans-serif;
  }

.main{
    display: flex;
    margin:0 20%;
    flex-direction: column;
    /* align-items: center; */
}

.icon{
    width: 120px;
    height: 120px;
    display: block;
    font-size: 100px;
    padding: auto;
}

.basic-info{
    display: flex;
    align-items: center; /* 사진과 설명을 수직 중앙 정렬 */
    gap: 100px; /* 사진과 설명 사이의 간격 */
}
.basic-info img{
    width: 250px; /* 원하는 크기로 조절 */
    height: auto; /* 이미지의 원래 비율 유지 */
    transition: width 0.3s ease; /* 부드러운 확대/축소 효과를 위한 transition 설정 */
}

.basic-info img:hover {
    width: 500px; /* 마우스 오버 시 이미지 크기를 250px로 확대 */
}

.profile{
    flex:1;
}


.wannabe{
    display: flex;
    justify-content: left;

}
.wannabe div{
    padding-bottom: 30px;
    width: 50%;

}

hr{
    
    width: 100%;
    border-top: solid lightgray 1px;

}

.tmi img{
    width: 250px; /* 원하는 크기로 조절 */
    height: auto; /* 이미지의 원래 비율 유지 */
}

.image-list {
    list-style: none;
    padding: 0; /* 기본 패딩 제거 */
    display: flex; /* 리스트 아이템들을 옆으로 나란히 배열 */
    flex-wrap: wrap;
}

.image-list li {
    margin-left: 10px;
    margin-right: 10px; /* 이미지 사이의 간격 조정 */
}

.image-list img {
    display: inline-block; /* 이미지를 인라인 블록 요소로 설정 */
    width: 39%; /* 원하는 이미지 크기로 조절 */
    height: auto;
    margin-bottom: 10px;
}